/* body css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: #D4ECDD;
}

/* top body CSS */
.top {
    display: flex;
}
/* left part of top body css */
.top .left {
    width: 65%;
}
/* right part of top body css */
.top .right {
    float: right;
    width: 50%;
}
/* image in top right css */
.top .right img {
    width: 100%;
    height: 99.4vh;
}
/* title css */
.top .left .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 35px;
    width: 100%;
} 

/* logo in top left title css */
.top .left .title .logo {
    width: 250px;
    padding-left: 2%;
}

/* image in logo class in top left title css */
.top .left .title .logo img {
    width: 250px;
}

/* top left title text css */
.top .left .title .text {
    width: 50%;
}

/* top left description css */
.top .left .description {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2em;
}

/* dynamic text in top left description css */
.top .left .description .dynamic {
    font-size: 30px;
    height: auto;
    min-height: 50px;
}

/* static text in top left description css */
.top .left .description .static {
    font-size: 25px;
    color: #AD8B73 ;
}

/* top left region choice css */
.top .left .choice {
    margin-top: 5%;
    margin-left: 3%;
}

/* search bar for top left choice css */
.top .left .choice .search_bar {
    width: 80%;
    padding: 1%;
    font-size: 1.1em;
    height: 65px;
}

/* top left search button css */
.top .left #search button{
    width: 100px;
    height: 60px;
    font-size: 25px;
    color: #D4ECDD;
    background-color: #112031;
    border: solid 2px 345B63;
}
.top .left #search button:hover{
    background-color: #345B63;
    color: #D4ECDD;
}

/* link css */
.top .left .link {
    font-size: 20px;
    padding-left: 5%;
    padding-top: 15%;
    color: #051367;
    display: flex;
}
.top .left .link .loginLink {
    margin-left: 5%;
}

.top .left .link span:hover {
    text-decoration: underline;
    color:#AD8B73
}

/* login admin CSS */
.loginAdmin {
    padding-top: 1%;
    font-size: 30px;
    display: none;
}

/* home link */
.loginAdmin .header #link,
.restoRegistration .header #link {
    margin: 2%;
}
.loginAdmin .header #link:hover,
.restoRegistration .header #link:hover {
    text-decoration: underline;
    color: #152D35;
}

/* login admin header title css */
.loginAdmin .header #title,
.restoRegistration .header #title {
    text-align: center;
    font-size: 45px;
    color: #152D35;
}

/* login form css */
.loginForm {
    text-align: left;
    border: 1px solid black;
    margin: 1% 25% 2%;
    padding: 1% 2.5% 1%;
    background-color: #345B63;
    color: #D4ECDD;
}

/* login form label css */
.loginForm label {
    display: inline-block;
    width: 150px;
}

/* login form input css */
.loginForm input {
    width: 650px;
    height: 35px;
    font-size: 25px;
    margin: 2% 0% 2%;
    padding-left: 1%;
}

/* login btn class css for login form  */
.loginForm .login_btn {
    text-align: center;
}

/* login button for login form css */
.loginForm .login_btn button{
    width: 200px;
    font-size: 22px;
    margin: 1% 2%;
    color: #112031;
    background-color: #D4ECDD;
}
.loginForm .login_btn button:hover{
    color:#D4ECDD;
    background-color: #112031;
}

/* Register a restaurant CSS */
.restoRegistration {
    display: none;
}

/* header link CSS */
.restoRegistration .header #link {
    font-size: 30px;
}

/* Registration form CSS */
.registerForm {
    border: 3px solid #112031;
    margin: 2% 25% 2%;
    padding: 1% 2% 1%;
    font-size: 23px;
    background-color: #345B63;
    color: #D4ECDD;
}

/* common class padding */
.restoRegistration .name,
.restoRegistration .street,
.restoRegistration .town,
.restoRegistration .region,
.restoRegistration .time,
.restoRegistration .telephone,
.restoRegistration .email,
.restoRegistration .cuisineDetails {
    padding: 1%;
}

/* label width */
.restoRegistration .name label,
.restoRegistration .street label,
.restoRegistration .town label,
.restoRegistration .region label,
.restoRegistration .time label,
.restoRegistration .telephone label,
.restoRegistration .email label,
.restoRegistration .cuisineDetails label {
    display: inline-block;
    width: 180px
}

/* input width */
.restoRegistration .name input,
.restoRegistration .street input,
.restoRegistration .town input,
.restoRegistration .region select,
.restoRegistration .telephone input,
.restoRegistration .email input {
    width: 85%;
    height: 10%;
}

.restoRegistration .restoMenu input[type=file]
{
    margin-left: 5%;
    font-size: 15px;
    height: 55px;
}

/* time header class */
.time .time_header,
.time .monday,
.time .tuesday,
.time .wednesday,
.time .thursday,
.time .friday,
.time .saturday,
.time .sunday {
    display: flex;
    padding-bottom: 0.5%;
}

/* title and subtitle header */
.time .time_header #title,
.time .monday #subtitle,
.time .tuesday #subtitle,
.time .wednesday #subtitle,
.time .thursday #subtitle,
.time .friday #subtitle,
.time .saturday #subtitle,
.time .sunday #subtitle {
    display: inline-block;
    width: 180px
}

/* opening time header css */
.time .time_header #opening_header,
.time .monday .opening,
.time .tuesday .opening,
.time .wednesday .opening,
.time .thursday .opening,
.time .friday .opening,
.time .saturday .opening,
.time .sunday .opening  {
    margin-left: 2%;
    width: 100px;
} 

/* closing time CSS */
.time .time_header #closing_header,
.time .monday .closing,
.time .tuesday .closing,
.time .wednesday .closing,
.time .thursday .closing,
.time .friday .closing,
.time .saturday .closing,
.time .sunday .closing {
    margin-left: 1%;
    margin-right: 1%;
}

.time input[type=time] {
    height: 25px;
    width: 100px;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.time input[type=checkbox] {
    height: 20px;
}

.restoRegistration .cuisineDetails * {
    vertical-align: middle;
}

.restoRegistration .registerBtn {
    text-align: center;
    margin-bottom: 2%;
}

.restoRegistration .registerBtn button {
    width: 200px;
    font-size: 22px;
    margin: 1% 2%;
    color: #D4ECDD;
    background-color: #345B63;
}

.restoRegistration .registerBtn button:hover{
    color:#D4ECDD;
    background-color: #112031;
}


.restoDetails {
    margin: 2% 5% 2%;
    text-align: center;
}

.eachResto {
    display: flex;
    border: 1px solid black;
    padding: 1% 2% 1%;
    text-align: center;
}

.eachResto #restoName,
.eachResto #restoTel {
    width: 100px;
    display: inline-block;
}

.eachResto .fullAddress {
    width: 150px;
    display: inline-block;
}

.eachResto #restoEmail {
    min-width: 200px;
    width: auto;
    display: inline-block;
}

.eachResto .restoTime {
    min-width: 175px;
    display: inline-block;
}

.eachResto #restoCuisineDetails {
    min-width: 175px;
    width: auto;
    display: inline-block;
}