/* body css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: #D4ECDD;
}

/* top body CSS */
.top {
    display: flex;
}
/* left part of top body css */
.top .left {
    width: 65%;
}
/* right part of top body css */
.top .right {
    float: right;
    width: 50%;
}
/* image in top right css */
.top .right img {
    width: 100%;
    height: 99.4vh;
}
/* title css */
.top .left .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 35px;
    width: 100%;
} 

/* logo in top left title css */
.top .left .title .logo {
    width: 250px;
    padding-left: 2%;
}

/* image in logo class in top left title css */
.top .left .title .logo img {
    width: 250px;
}

/* top left title text css */
.top .left .title .text {
    width: 50%;
}

/* top left description css */
.top .left .description {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2em;
}

/* dynamic text in top left description css */
.top .left .description .dynamic {
    font-size: 30px;
    height: auto;
    min-height: 50px;
}

/* static text in top left description css */
.top .left .description .static {
    font-size: 25px;
    color: #AD8B73 ;
}

/* top left region choice css */
.top .left .choice {
    margin-top: 5%;
    margin-left: 3%;
    display: flex;
}

/* search bar for top left choice css */
.top .left .choice .search_bar {
    width: 80%;
    padding: 1%;
    font-size: 1.1em;
    height: 65px;
}

/* top left search button css */
.top .left #search button{
    width: 100px;
    height: 60px;
    font-size: 25px;
    color: #D4ECDD;
    background-color: #112031;
    border: solid 2px #345B63;
}

.top .left #search button:hover{
    background-color: #345B63;
    color: #D4ECDD;
}

/* link css */
.top .left .link {
    font-size: 20px;
    padding-left: 5%;
    padding-top: 15%;
    color: #051367;
    display: flex;
}
.top .left .link .loginLink {
    margin-left: 5%;
}

.top .left .link span:hover {
    text-decoration: underline;
    color:#AD8B73
}

/* login admin CSS */
.loginAdmin {
    padding-top: 1%;
    font-size: 30px;
    display: none;
}

/* home link */
.loginAdmin .header #link,
.restoRegistration .header .link {
    margin: 2%;
}
.loginAdmin .header #link:hover,
.restoRegistration .header .link:hover {
    text-decoration: underline;
    color: #152D35;
}

/* login admin header title css */
.loginAdmin .header #title,
.restoRegistration .header .title {
    text-align: center;
    font-size: 45px;
    color: #152D35;
}

/* login form css */
.loginForm {
    text-align: left;
    border: 1px solid black;
    margin: 1% 25% 2%;
    padding: 1% 2.5% 1%;
    background-color: #345B63;
    color: #D4ECDD;
}

/* login form label css */
.loginForm label {
    display: inline-block;
    width: 150px;
}

/* login form input css */
.loginForm input {
    width: 650px;
    height: 35px;
    font-size: 25px;
    margin: 2% 0% 2%;
    padding-left: 1%;
}

/* login btn class css for login form  */
.loginForm .login_btn {
    text-align: center;
}

/* login button for login form css */
.loginForm .login_btn button{
    width: 200px;
    font-size: 22px;
    margin: 1% 2%;
    color: #112031;
    background-color: #D4ECDD;
}
.loginForm .login_btn button:hover{
    color:#D4ECDD;
    background-color: #112031;
}

/* Register a restaurant CSS */
.restoRegistration {
    display: none;
}

/* header link CSS */
.restoRegistration .header .link {
    font-size: 30px;
}

/* Registration form CSS */
.registerForm {
    border: 3px solid #112031;
    margin: 2% 25% 2%;
    padding: 1% 2% 1%;
    font-size: 23px;
    background-color: #345B63;
    color: #D4ECDD;
}

/* common class padding */
.restoRegistration .name,
.restoRegistration .street,
.restoRegistration .town,
.restoRegistration .region,
.restoRegistration .time,
.restoRegistration .telephone,
.restoRegistration .email,
.restoRegistration .cuisineDetails {
    padding: 1%;
}

/* label width */
.restoRegistration .name label,
.restoRegistration .street label,
.restoRegistration .town label,
.restoRegistration .region label,
.restoRegistration .time label,
.restoRegistration .telephone label,
.restoRegistration .email label,
.restoRegistration .cuisineDetails label {
    display: inline-block;
    width: 180px
}

/* input width */
.restoRegistration .name input,
.restoRegistration .street input,
.restoRegistration .town input,
.restoRegistration .region select,
.restoRegistration .telephone input,
.restoRegistration .email input {
    width: 85%;
    height: 10%;
}

/* input file CSS */
.restoRegistration .restoMenu input[type=file]
{
    margin-left: 5%;
    font-size: 15px;
    height: 55px;
}

/* time header class */
.time .time_header,
.time .monday,
.time .tuesday,
.time .wednesday,
.time .thursday,
.time .friday,
.time .saturday,
.time .sunday {
    display: flex;
    padding-bottom: 0.5%;
}

/* title and subtitle header */
.time .time_header #timeTitle,
.time .monday .subtitle,
.time .tuesday .subtitle,
.time .wednesday .subtitle,
.time .thursday .subtitle,
.time .friday .subtitle,
.time .saturday .subtitle,
.time .sunday .subtitle {
    display: inline-block;
    width: 180px
}

/* opening time header css */
.time .time_header #opening_header,
.time .monday .opening,
.time .tuesday .opening,
.time .wednesday .opening,
.time .thursday .opening,
.time .friday .opening,
.time .saturday .opening,
.time .sunday .opening  {
    margin-left: 2%;
    width: 100px;
} 

/* closing time CSS */
.time .time_header #closing_header,
.time .monday .closing,
.time .tuesday .closing,
.time .wednesday .closing,
.time .thursday .closing,
.time .friday .closing,
.time .saturday .closing,
.time .sunday .closing {
    margin-left: 1%;
    margin-right: 1%;
}

/* input time CSS */
.time input[type=time] {
    height: 25px;
    width: 100px;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

/* input checkbox css */
.time input[type=checkbox] {
    height: 20px;
}

/* Cuisine details CSS */
.restoRegistration .cuisineDetails * {
    vertical-align: middle;
}

/* register button Class */
.restoRegistration .registerBtn {
    text-align: center;
    margin-bottom: 2%;
}

/* register button CSS */
.restoRegistration .registerBtn button {
    width: 200px;
    font-size: 22px;
    margin: 1% 2%;
    color: #D4ECDD;
    background-color: #345B63;
}

/* register button hover CSS */
.restoRegistration .registerBtn button:hover{
    color:#D4ECDD;
    background-color: #112031;
}

/* accordion CSS */
.accordion {
    display: none;
    margin: 2% 5% 2%;
    border: 1px solid black;
    padding: 2% 10% 2%;
    align-content: center;
    align-items: center;
    background-color: #345B63;   
}

/* accordion item CSS */
.accordion .accordion-item{
    background-color: #152D35;
    color: #D4ECDD;
}

/* header label CSS */
.accordion .accordion-item .accordion-header #restoName,
.accordion .accordion-item .accordion-header #restoTel,
.accordion .accordion-item .accordion-header #restoCuisineDetails
{
    width: 15%;
    font-size: 20px;
}
.accordion .accordion-item .accordion-header .fullAddress,
.accordion .accordion-item .accordion-header #restoEmail{
    width: 20%;
    font-size: 20px;
}

/* flexTop CSS */
.accordion .accordion-item .accordion-body .flexTop{
    display: flex;
    width: 100%;
}

/* restoTime and menu CSS */
.accordion .accordion-item .accordion-body .flexTop .restoTime,
.accordion .accordion-item .accordion-body .flexTop .menu{
    width: 50%;
}

/* left align menu */
.accordion .accordion-item .accordion-body .flexTop .menu {
    text-align: right;
}

/* text in menu class CSS */
.accordion .accordion-item .accordion-body .flexTop .menu a {
    text-decoration: none;
    color: #D4ECDD;
    font-size: 20px;
}

/* link hover CSS */
.accordion .accordion-item .accordion-body .flexTop .menu a:hover{
    text-decoration: underline;
    color: #F4FCD9;
}

/* restoTime button CSS */
.accordion .accordion-item .accordion-body .flexTop .restoTime button{
    color: #152D35;
    background-color: #D4ECDD;
}

/* button hover css */
.accordion .accordion-item .accordion-body .flexTop .restoTime button:hover{
    color: #112031;
    background-color: #F4FCD9;
}

/* reviews CSS */
.reviews{
    padding-top: 1%;
}
/* product review title css */
.reviews .title{
    display: flex;
    color: #FBF7F0;
    font-size: 18px;
}

/* add revirew css */
.reviews .title #addReview{
    text-align: right;
    color: #D9E4DD
}

/* add review hover css */
.reviews .title #addReview:hover,
.reviews .title #customerReview:hover{
    color: #79B4B7;
}

/* product review link css */
.reviews #customerReview,
.reviews #addReview {
    width: 50%;
    font-size: 25px;
}

.reviews .reviewBody{
    margin: 1% 1% 1%;
    padding: 0.5% 1%;
    font-size: 20px;
}

/* review body + review list title css */
.reviews .reviewBody .reviewListTitle{
    font-size: x-large;
}

/* review list details css */
.reviews .reviewBody .reviewListDetails{
    font-size: 18px;
    display: flex;
}

/* date of review */
.reviews .reviewBody .reviewListDetails #date{
    color: #316B83;
    padding-left: 0.5%;
}

/* review list description css */
.reviews .reviewBody .reviewListDesc{
    font-size: 20px;
}

/* common css */
.reviews .reviewBody .reviewQty .reviewList,
.reviews .writeReview{
    border: 2px solid #CDC9C3;
    background-color: #D9E4DD;
    color: #152D35;
    padding: 1%;
    margin-bottom: 1%;
}

/* write review css */
.reviews .writeReview{
    display: none;
}

/* writereview title css */
.reviews .writeReview .reviewTitle{
    font-size: 25px;
    color: #112031;
}

/* form details css */
.reviews .writeReview .form_details {
    margin-bottom: 1%;
}

/* write review input css */
.reviews .writeReview input{
    width: 50%;
}

/* writereview body css */
.reviews .writeReview input#writereviewBody{
    height: 50px;
}

/* submit review btn css */
.reviews .writeReview .submitReviewBtn{
    margin-top: 1%;
    text-align: right;
}

/* submit review btn hover */
.reviews .writeReview .submitReviewBtn button:hover{
    color: #555555;
    background-color: #F8F0DF;
}
